
.summary-bar {
    background-color: rgba(126, 233, 126, 1);
    margin-top: -16px;
    padding-top: 16px;
    padding-bottom: 16px;

}

.jumbotron {
    margin-bottom: 0;
}

.order-details {
    margin-left: 10px;
}