{% extends 'base.twig' %}
{% block content %}

    <table class="table">
        <caption>Orders</caption>
        <thead>
        <tr>
            <th>Order #</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th>{{order.OrderNum}}</th>
                    <th>{{order.CustNum}}</th>
                    <th>{{order.OrderDate}}</th>
                    <th>{{order.Status}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}